@font-face {
    font-family: 'Myriad Pro';
    src: url("../fonts/MyriadPro-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Myriad Pro Black";
    src: url("../fonts/MyriadPro-Black.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: "Myriad Pro";
    src: url("../fonts/MyriadPro-SemiboldCond.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "PH 400 Caps";
    src: url("../fonts/PH-400RegularCaps.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

* {
    font-family: "Myriad Pro";
}

.container {
    position: relative;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

html {
    background: #D2D2D2 !important;
}

body {
    position: relative;
    min-height: 100%;
    overflow: hidden auto;
}

ul {
    list-style: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    cursor: pointer;
}

.header {
    background: url(../images/mainBGNEW.png);
}

.main_logo {
    display: flex;
}

.main_text {
    align-self: center;
    margin-left: 12px;
}

.header .elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 9.5px;
    margin-bottom: 4px;
}

.header .elements .header_menu {
    width: 100%;
    max-width: 605px;
}

.menu_list {
    display: flex;
    justify-content: space-between;
    margin-right: 26px;
    margin-left: 17px;
}

.header .elements .header_menu .menu_list .menu_item {
    margin: 0 5px;
}

.header .elements .header_menu .menu_list .menu_item:first-child {
    margin-left: 0;
}

.header .elements .header_menu .menu_list .menu_item .menu_link {
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #473833;
    transition: 0.3s;
}

.hotline {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #342824;
}

.number {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 16px;
    color: #342824;
    margin-top: 4px;
}

.header .elements .header_icons {
    width: 100px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-image {
    background-image: url(../images/home_img_background_first_block_1440px.png);
    height: 608px;
    overflow: hidden;
    position: relative;
}

.page-container {
    position: relative;
    height: 100%;
    margin: 0 auto;
    max-width: 1238px;
    width: 100%;
}

.first-image-left {
    width: 50%;
    height: 100%;
    padding-bottom: 248px;
    padding-left: 7px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.first_content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
}

.first-image-left h1 {
    margin-bottom: 51px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
    color: #ffffff;
}

.map-title {
    padding: 12px 50px;
    border-radius: 20px;
    width: 240px;
    background: #E6E5E3;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #342824;
}

.map-title::after {
    content: "";
    background-image: url(../images/Frame\ 6470\ \(1\).svg);
    width: 45px;
    height: 23px;
    margin-left: 10px;
}

.join_block {
    align-self: end;
    margin-bottom: 79px;
    margin-top: -99px;
    margin-right: 47px;
}

.join_text {
    font-family: "PH 400 Caps";
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    text-align: end;
    color: #e5e4e2;
    margin-bottom: 10px;
}

.join_list {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.join_icon {
    margin-right: 15px;
}

.join_icon:last-child {
    margin-right: 0;
}

.first-image-right {
    position: absolute;
    bottom: 0;
    right: -37px;
    display: flex;
    flex-direction: column;
    width: 948px;
}

.third-link {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-self: end;
    margin-bottom: 24px;
}

.third-link img {
    width: 143px;
    margin-right: 94px;
    margin-bottom: 18px;
    align-self: end;
}

.link {
    width: 100%;
    text-transform: uppercase;
    font-family: "PH 400 Caps";
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    text-align: center;
    color: #342824;
    display: flex;
    margin-right: 113px;
}

.link::after {
    background-image: url(../images/Vector.svg);
    content: "";
    width: 25px;
    height: 34px;
    margin-left: 12.63px;
    align-self: center;
}

.second-link {
    margin-bottom: 25px;
    margin-left: 390px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    align-items: end;
}

.second-link .link {
    margin-right: 32px;
    font-family: "PH 400 Caps";
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    text-align: center;
    color: #342824;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.first-image .first-image-right .second-link img {
    height: unset;
    width: 177px;
    margin-bottom: 30px;
}

.first-link {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    align-items: end;
    margin-right: 55px;
    width: 323px;
    margin-bottom: 24px;
    margin-left: 83px
}

.first-link .link {
    margin-right: 64px;
    margin-bottom: -7px;
}

.first-link img {
    height: 81px;
    margin-bottom: 14px;
    align-self: self-end;
}

.first-image-center-arrow {
    bottom: 2px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 34px;
}