@font-face {
    font-family: "Myriad Pro Light SemiCond";
    src: url("..//fonts/MyriadPro-SemiboldSemiCn.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Myriad Pro";
    src: url("../fonts/MyriadPro-BoldCond.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Myriad Pro";
    src: url("../fonts/MyriadPro-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Myriad Pro Black";
    src: url("../fonts/MyriadPro-Black.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Myriad Pro Black";
    src: url("../fonts/MyriadPro-Black.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Myriad Pro Black";
    src: url("../fonts/MyriadPro-Black.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Myriad Pro Black";
    src: url("../fonts/MyriadPro-Black.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Myriad Pro Black";
    src: url("../fonts/MyriadPro-Black.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Myriad Pro Black";
    src: url("../fonts/MyriadPro-Black.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Myriad Pro";
    src: url("../fonts/MyriadPro-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Myriad Pro";
    src: url("../fonts/MyriadPro-SemiboldCond.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: "Myriad Pro";
}

.container {
    position: relative;
}

html {
    background: url("../images/mainBGNEW.png"), #D2D2D2 !important;
}

body {
    position: relative;
    min-height: 100%;
    overflow: hidden auto;
}

ul {
    list-style: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    cursor: pointer;
}

.header {
    background: url(../images/mainBGNEW.png);
}

.main_logo {
    display: flex;
}

.main_text {
    align-self: center;
    margin-left: 12px;
}

.header .header_top_elements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 9.5px;
    margin-bottom: 4px;
}

.header .header_top_elements .header_menu {
    width: 100%;
    max-width: 560px;
}

.menu_list {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    margin-left: 11px;
}

.header .header_top_elements .header_menu .menu_list .menu_item {
    margin: 0 5px;
}

.header .header_top_elements .header_menu .menu_list .menu_item:first-child {
    margin-left: 0;
}

.header .header_top_elements .header_menu .menu_list .menu_item .menu_link {
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #473833;
    transition: 0.3s;
}

.hotline {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #342824;
}

.number {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 16px;
    color: #342824;
    margin-top: 4px;
}

.header .header_top_elements .header_icons {
    width: 100px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button_right {
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    height: 100%;
}

.to_book {
    position: absolute;
    right: 0;
    padding: 0 0 562px 0;
}

.btn {
    display: block;
    position: sticky;
    top: 50%;
    z-index: 299;
    padding: 12px 61px;
    background: #778847;
    border-radius: 20px 20px 0px 0px;
    transform: rotate(-90deg) translate(0px, 91px);
}

.btn div {
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
}

.first-image {
    background-image: url(../images/home_img_background_first_block_1440px.png);
    height: 608px;
    overflow: hidden;
    position: relative;
}

.page-container {
    position: relative;
    height: 100%;
    margin: 0 auto;
    max-width: 1222px;
    z-index: 1;
}

.first-image-left {
    width: 100%;
    height: 100%;
    padding-bottom: 77px;
    margin-top: 24px;
}

.first_content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
}

.logo-title {
    margin-bottom: 75px;
}

.logo-title h1 {
    margin-bottom: 51px;
    font-style: normal;
    font-weight: 700;
    font-size: 47px;
    line-height: 58px;
    text-transform: uppercase;
    color: #ffffff;
}

.map-title {
    padding: 12px 50px;
    border-radius: 20px;
    width: 240px;
    background: #E6E5E3;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #342824;
}

.join_block {
    align-self: end;
    margin-bottom: -11px;
}

.join_text {
    font-family: "PH 400 Caps";
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #e5e4e2;
    margin-bottom: 17px;
}

.join_list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    z-index: 200;
}

.join_icon {
    margin-right: 15px;
}

.join_icon:last-child {
    margin-right: 0;
}

.first-image-right {
    position: absolute;
    bottom: 0;
    right: -37px;
    display: flex;
    flex-direction: column;
    width: 948px;
    padding-bottom: 87px;
}

.third-link {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-self: end;
    margin-bottom: 24px;
}

.third-link img {
    width: 143px;
    margin-right: 94px;
    margin-bottom: 18px;
    align-self: end;
}

.link {
    margin-right: 81px;
    margin-bottom: -1px;
    font-family: "PH 400 Caps";
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 53px;
    text-align: center;
    color: #342824;
    display: flex;
    width: max-content;
    justify-content: space-between;
    align-items: center;
}

.second-link {
    margin-bottom: 25px;
    margin-left: 390px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    align-items: end;
}

.second-link .link {
    margin-right: 32px;
    font-family: "PH 400 Caps";
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 53px;
    text-align: center;
    color: #342824;
    display: flex;
    width: max-content;
    justify-content: space-between;
    align-items: center;
}

.first-image .first-image-right .second-link img {
    height: unset;
    width: 177px;
    margin-bottom: 30px;
}

.first-link {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    align-items: end;
    margin-right: 55px;
    width: 323px;
    margin-bottom: 24px;
    margin-left: 83px
}

.first-link .link {
    margin-right: 64px;
    margin-bottom: -7px;
}

.first-image .first-image-right .link {
    font-family: "PH 400 Caps";
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 53px;
    text-align: center;
    color: #342824;
    display: flex;
    width: max-content;
    justify-content: space-between;
    align-items: center;
    margin-right: 25px;
}

.first-link img {
    height: 81px;
    margin-bottom: 14px;
    align-self: self-end;
}

.first-image-center-arrow {
    bottom: 2px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 34px;
}